{% extends "base.html" %}
{% load static %}

{% block content %}
  <img src="{% static 'foto.jpg' %}" width="1100" height="500">
{% endblock %}

{% block content1 %}
  <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif; text-shadow: 2px 2px 5px blue;">Mirë Se Vini Në T.G.D.M. Travel !</h1>
  <br>
  <div style="text-align: left; width: 750px; height: 350px; text-shadow: 2px 2px 5px blue; font-family: 'Times New Roman', Times, serif; font-size: 20px; margin: 0 auto;">
    Ky website ka për qëllim t’ju asistojë gjatë kërkimit tuaj për udhëtimet që planifikoni në cdo kohë dhe periudhë të vitit, t’ju informojë mbi shumë-llojshmërinë e shërbimeve që ne ofrojmë si dhe t’ju mundësojë kryerjen e rezervimeve për destinacionet që dëshironi. Përdorimi i shërbimeve tona, si në faqen e internetit apo në çdo agjenci udhëtimi partnere është subjekt i kushteve, të drejtave dhe detyrimeve të përmëndura në paragrafët e caktuar.

    T.G.D.M. Travel Agency është kompani turistike me mbi 20 vjet eksperiencë në udhëtime turistike, paketa pushimesh dhe produkte turistike, në tregun Shqiptar që ofron udhëtime gjatë gjithë vitit. Kompania e mbështet punën e saj në një staf shumë profesional dhe me një eksperiencë të konsiderueshme në fushën e shërbimeve.
    Ju vetëm na zgjidhni, për të tjerat mendojmë ne…
  </div>
{% endblock %}
