{% extends "base.html" %}

{% block content %}
<h1>Login to Daniel Agency account!</h1>
{% endblock %}

{% block content1 %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'list' %}" class="btn btn-light">Cancel</a>
</form>

{% endblock %}
